@tailwind components;
@tailwind base;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&family=Sora:wght@400;500;600&display=swap');

*, *::after, *::before {
	box-sizing: border-box;
	font-family: Poppins, san-serif;
	font-weight: 400,
}
body {
	background: #121212;
}

